@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Padyakke+Expanded+One&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Sofia Sans', sans-serif;
        scroll-behavior: smooth
    }
}

.skillname {
    @apply border-black w-fit text-xl font-medium ml-2;
}

.skillmeter {
    @apply w-[95%] ml-2 h-fit border-[0px] border-gray-300 mb-10 mt-2 bg-purple-200;
}

.skillfiller {
    @apply h-2 bg-purple-600;
}


.Allskills.active {
    opacity: 1;
    transform: translateY(0px);
    border-radius: 10px;
    /* display: block; */
    height: fit-content;

    box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
}


.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: fit-content !important;

}

.swiper-wrapper {
    height: fit-content !important;
    padding: 26px !important;
    margin: 8px;
    width: 100%;
    /* padding: 0px 8px !important; */
}

.swiper-slide {
    margin: 0px 5px;
}

.mycard img {
    box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
}

.contact-me-form input {
    border-radius: 4px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
    color: black;
    background-color: rgb(220, 220, 243);
    width: 80%;

}

/* #footer{
    
    background-image: linear-gradient(-85deg, white, #8719de);
} */

.contact-me-form input {
    @apply p-4 border-black font-light my-2 placeholder-gray-600 text-sm opacity-80 desktopstart: w-full;
}

.footer-social-icons img {
    @apply w-8 h-8 my-1 border-black text-white;
}

#bottomMenu {
    box-shadow: -7px -2px 11px 1px #0000001a;;
}