@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
}

.skillname {
    @apply border-black w-fit text-xl font-medium ml-2;
}

.skillmeter {
    @apply w-[95%] ml-2 h-fit border-[0px] border-gray-300 mb-10 mt-2 bg-purple-200;
}

.skillfiller {
    @apply h-2 bg-purple-600;
}


.Allskills.active {
    opacity: 1;
    transform: translateY(0px);
    border-radius: 10px;
    /* display: block; */
    height: fit-content;

    box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
}


.swiper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: fit-content  !important;

}

.swiper-wrapper {
    height: fit-content !important;
    padding: 26px !important;
    margin: 8px;
    width: 100%;
    /* padding: 0px 8px !important; */
}
.swiper-slide{
    margin: 0px 5px;
}

.mycard img {
    box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
}